h1 {
    text-align: center;
    border: none;
    border-radius: 2cm;
    background-color: blue;
    margin: 200px 400px;
    padding: 15px;
    text-decoration: none;
    display: inline-block;

}
h2 {

}